<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

   <bean id="persitanceId" class="dev.persistance.Persistance2"/>

    <bean id="metier" class="dev.metier.Metier2">
        <constructor-arg name="persitance" ref="persitanceId"/>
    </bean>

    <bean id="scanner" class="java.util.Scanner">
        <constructor-arg>
            <util:constant static-field="java.lang.System.in"/>
        </constructor-arg>
    </bean>

    <bean id="presentation1" class="dev.presentation.Presentation1" >
        <constructor-arg name="metier" ref="metier"/>
        <constructor-arg name="scanner" ref="scanner"/>
    </bean>

</beans>
